/* ========================= common css start here ===================== */
* {
    margin: 0;
    padding: 0;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#main_bg {
    background: url(../images/mainBG.png)no-repeat center;
    background-size: cover;
}

#home_mainBG {
    background: url(../images/home_MainBg.png)no-repeat center;
    background-size: cover;
}

#sotry_mainbg {
    background: url(../images/story_mainBG.png)no-repeat center;
    background-size: cover;
}

#gallery_mainBG {
    background: url(../images/gallery_mainBG.png)no-repeat center;
    background-size: cover;
}

/* ========================= common css end here ===================== */

/* ========================= navbar css start here ===================== */

.navbar {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
}

nav ul li {
    margin: 0px 10px;
}
nav ul li .nav-link {
    padding: 30px 20px !important;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: all linear .4s;
    color: #fff ;
    position: relative;
    z-index: 2;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

nav ul li .nav-link:hover {
    color: #ed5034 ;
}

nav ul li .nav-link::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid transparent;
    height: 100%;
    background: transparent;
    content: "";
    transition: all linear .4s;
    z-index: -1;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

nav ul li .nav-link:hover::after{
    background: #fff; 
    width: 100%;
    border-bottom: 3px solid #ed5034;
}

nav ul li .active{
    color: #ed5034 ;
}
nav ul li .active::after{
    background: #fff; 
    width: 100%;
    border-bottom: 3px solid #ed5034;
}

/* ========================= navbar css end here ===================== */
/* 

========================== banner part css start here =========================== */

#banner_part .banner {
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 235px;
    padding-bottom: 249px;
    background-size: cover;
}

#banner_part .banner .bannerSmoke {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    width: 100%;
    height: 100%;
}

#banner_part .banner_img1 {
    background: linear-gradient(rgb(0, 0, 0, .7), rgb(0, 0, 0, .7)), url('../images/bannerImg1.png');
}

#banner_part .banner_img2 {
    background: linear-gradient(rgb(0, 0, 0, .7), rgb(0, 0, 0, .7)), url('../images/bannerImg2.png');
}

#banner_part .banner_img3 {
    background: linear-gradient(rgb(0, 0, 0, .7), rgb(0, 0, 0, .7)), url('../images/bannerImg3.png');
}

#banner_part .banner .item {
    position: relative;
    z-index: 2;
}

#banner_part .banner .item h3 {
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 36px;
    font-weight: 100;
}

#banner_part .banner .item h1 {
    color: #fff;
    font-family: 'Yeseva One', cursive;
    font-size: 72px;
    font-weight: 400;
    margin-top: -30px;
}

#banner_part .banner .item h2 {
    color: #fff;
    font-family: 'Yeseva One', cursive;
    font-size: 72px;
    font-weight: 400;
}

#banner_part .banner .item p {
    margin: 0 auto;
    width: 400px;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 28px;
    font-weight: 100;
    margin-top: 20px;
    position: relative;
}

#banner_part .banner .item p::before {
    position: absolute;
    top: 50%;
    left: 5%;
    background: #ed5034;
    width: 102px;
    height: 2px;
    content: "";
}

#banner_part .banner .item p::after {
    position: absolute;
    top: 50%;
    left: 68%;
    background: #ed5034;
    width: 102px;
    height: 2px;
    content: "";
}

#banner_part .slick-slider .prev {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-110%);
    color: #fff;
    background: transparent;
    font-size: 28px;
    z-index: 3;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 70px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#banner_part .slick-slider .prev:hover {
    color: #ed5034;
    background: #fff;
}

#banner_part .slick-slider .next {
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translateX(110%);
    color: #fff;
    font-size: 28px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    text-align: center;
    line-height: 70px;
    transition: all linear .3s;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
}

#banner_part .slick-slider .next:hover {
    color: #ed5034;
    background: #fff;
}

/* ========================= 
   banner part css end here 
=========================== */

/* ========================= 
   story part css start here 
=========================== */
#story_part {

    padding: 100px 0;
}

#story_part .left .img {
    position: relative;
}

#story_part .left .img .hookahSmoke {
    width: 60%;
    position: absolute;
    top: -42%;
    left: -30%;
}

#story_part .left .img .hookahBeer {
    width: 100%;
}

#story_part .left .img .round {
    width: 110px;
    height: 110px;
    border:1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#story_part .left .img .round .icon {
    width: 90px;
    height: 90px;
    background: #fff;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

#story_part .left .img .icon i {
    color: #ed5034;
    font-size: 18px;
}

#story_part .right {
    margin-left: 20px;
}

#story_part .right h1 {
    display: inline-block;
    margin-top: 60px;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    position: relative;
}

#story_part .right h1::after {
    position: absolute;
    bottom: -15px;
    left: 0%;
    background: #ed5034;
    width: 100px;
    height: 3px;
    content: '';
}

#story_part .right h1::before {
    position: absolute;
    bottom: -15px;
    left: 105px;
    background: #ed5034;
    width: 10px;
    height: 3px;
    content: '';
}

#story_part .right p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-top: 40px;
    line-height: 28px;
}

#story_part .right a {
    width: 200px;
    height: 60px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #222;
    border-radius: 30px;
}

#story_part .right a img {
    border-radius: 30px;
}

#story_part .right a span {
    color: #ed5034;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 15px;
    left: 30px;
}

/* ========================= 
   story_banner part css start here 
=========================== */

#banner_part .text {
    text-align: center;
}

#banner_part .text h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 42px;
    font-weight: 400;
    color: #fff;
}

#banner_part .text h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

/* =============================== 
   storyP_banner css end here 
================================== */

/* ================================ 
   storyP_part css start here 
================================== */
#story_part .right .bottomPart {
    display: flex;
    margin-bottom: 60px;
}

#story_part .right .img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 20px;
}

#story_part .right .img img {
    width: 100%;
}

#story_part .right .img .overlay {
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#story_part .right .img:hover .overlay {
    opacity: 1;
}
#story_part .right .img .overlay .roundS{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#story_part .right .img .overlay .roundS .icon {
    width: 55px;
    height: 55px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

#story_part .right .img .overlay .roundS .icon i {
    font-size: 16px;
    color: #ed5034;
    line-height: 55px;
}

#story_part .counterUP {
    background: url(../images/storyP_bottom.png) no-repeat center;
    background-size: cover;
    padding: 40px 60px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#story_part .counterUP .item h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

#story_part .counterUP .item p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
}

/* ============================== 
   storyP_ part css end here 
================================= */


/* ========================= 
   story part css end here 
=========================== */


/* ========================= 
   happy_hour part css start here 
=========================== */

#hour {
    background: url(../images/hour_bg.png) no-repeat center;
    background-size: cover;
    padding: 60px 0;
    position: relative;
}

#hour .title {
    text-align: center;
    margin-bottom: 80px;
}

#hour .title h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    position: relative;
}

#hour .title h1::after {
    position: absolute;
    bottom: -20px;
    left: 60px;
    width: 50px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#hour .title h1::before {
    position: absolute;
    bottom: -20px;
    left: 130px;
    width: 50px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#hour .title span {
    position: relative;
    display: block;
}

#hour .title span::before {
    position: absolute;
    bottom: -20px;
    left: 115px;
    width: 10px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#hour .wineBG {
    width: 50%;
    height: 130%;
    position: absolute;
    top: -20%;
    right: 0%;
    opacity: .2;
}

#hour .item {
    margin-left: 200px;
    display: inline-flex;
}

#hour #next {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin-left: 180px;
}

#hour .item .counterbg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(../images/counterBg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
}

#hour .item .counterbg p {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    line-height: 150px;
}

#hour .item .counterbg h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: -65px;
}

#hour .text {
    border-left: 1px solid #262625;
    padding-left: 70px;
    margin-top: 40px;
}

#hour .text h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}

#hour .text h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    position: relative;
    margin-bottom: 50px;
}

#hour .text h3::after {
    position: absolute;
    bottom: -15px;
    left: 0;
    background: #ed5034;
    width: 50px;
    height: 3px;
    content: "";
}

#hour .text h3::before {
    position: absolute;
    bottom: -15px;
    left: 55px;
    background: #ed5034;
    width: 10px;
    height: 3px;
    content: "";
}

#hour .text h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
}

/* =========================== 
home_hour part css start here 
============================== */

#hour .home_wineBg {
    width: 65%;
    height: 155%;
    position: absolute;
    top: -30%;
    right: 0%;
    opacity: .1;
}

/* =========================== 
 home_hour part css end here 
============================== */
/* =========================== 
 happy_hour part css end here 
============================== */

/* =========================== 
 team_part part css start here 
============================== */

#team_part {
    margin: 90px 0;
    position: relative;
}

#team_part .title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

#team_part .title h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    position: relative;
}

#team_part .title h1::after {
    position: absolute;
    bottom: -20px;
    left: 30px;
    width: 50px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#team_part .title h1::before {
    position: absolute;
    bottom: -20px;
    left: 100px;
    width: 50px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#team_part .title span {
    position: relative;
    display: block;
}

#team_part .title span::before {
    position: absolute;
    bottom: -20px;
    left: 85px;
    width: 10px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#team_part .teamBGImg {
    position: relative;
}

#team_part .teamBGImg .smoke {
    position: absolute;
    top: -330px;
    left: 230px;
}

#team_part .team {
    text-align: center;
    margin: 0 10px;
}

#team_part .team h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #fff;
}

#team_part .team p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 50px;
}

#team_part .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#team_part .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

#team_part .slick-dots li button {
    outline: 0;
    font-size: 0;
    border: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    transform: scale(1);
}

#team_part .slick-dots .slick-active button {
    transform: scale(1.4);
    background: #ed5034;
}

/* ================================= 
 story_team_part part css start here 
==================================== */

#team_part .item {
    text-align: center;
    margin: 0 10px;
}

#team_part .item h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #fff;
}

#team_part .item p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 50px;
}

/* ============================== 
 story_team_part part css end here 
================================== */


/* =========================== 
 team_part part css end here 
============================== */

/* =========================== 
 gallery_part css start here 
============================== */

#gallery_part {
    margin: 100px 0;
}

#gallery_part .title {
    text-align: center;
    margin-bottom: 80px;
}

#gallery_part .title h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    position: relative;
}

#gallery_part .title h1::after {
    position: absolute;
    bottom: -20px;
    left: 60px;
    width: 50px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#gallery_part .title h1::before {
    position: absolute;
    bottom: -20px;
    left: 130px;
    width: 50px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#gallery_part .title span {
    position: relative;
    display: block;
}

#gallery_part .title span::before {
    position: absolute;
    bottom: -20px;
    left: 115px;
    width: 10px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#gallery_part .gallery {
    margin: 0px 15px;
}

#gallery_part .gallery .img {
    position: relative;
}

#gallery_part .gallery .img img {
    width: 100%;
}

#gallery_part .gallery .img .icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    opacity: 0;
    transition: all linear .4s;
}

#gallery_part .gallery .img .icon i {
    line-height: 80px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

#gallery_part .gallery .img:hover .icon {
    opacity: 1;
}

#gallery_part .button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background: url(../images/exploreMore.png) no-repeat center;
    background-size: cover;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
    margin-top: 60px;
}

#gallery_part .button a {
    color: #ed5034;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    font-weight: 400;
}

/* =============================== 
 galleryP_part part css start here 
=================================== */

#galleryP_part {
    padding: 90px 0;
}

#galleryP_part .img {
    width: 100%;
    position: relative;
    margin: 0 0 30px 15px;
}

#galleryP_part .img img {
    width: 90%;
}
#galleryP_part .img .icon{
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0,.8);
    text-align: center;
    position: absolute;
    top: 65%;
    left: 55%;
    opacity: 0;
    transition: all linear .3s;
}
#galleryP_part .img:hover .icon{
    opacity: 1;
}
#galleryP_part .img .icon i{
    line-height: 80px;
    font-size: 40px;
    color: #fff;
}
/* ============================== 
 galleryP_part part css end here 
================================= */

/* =========================== 
 gallery_part part css end here 
============================== */

/* =========================== 
 reservation part start end here 
============================== */

#reservation {
    padding-bottom: 100px;
}

#reservation .title {
    margin-bottom: 50px;
    margin-left: 30px;
}

#reservation .title h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    position: relative;
}

#reservation .title h1::after {
    position: absolute;
    bottom: -20px;
    left: 0px;
    width: 160px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#reservation .title h1::before {
    position: absolute;
    bottom: -20px;
    left: 165px;
    width: 10px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#reservation .img {
    position: relative;
}

#reservation .img .formLeftImg {
    position: relative;
    z-index: 1;
}

#reservation .img .formimgBG {
    position: absolute;
    top: -35%;
    left: -45%;
    transform: translate(0%, 0%);
}

#reservation form {
    position: relative;
    z-index: 1;
    margin-left: 15px;
}

#reservation form input {
    background: transparent;
    outline: none;
    border: 1px solid #222222;
    padding: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    caret-color: #fff;
    color: #fff;
}

#reservation form input[type=text] {
    width: 45%;
}

#reservation form input[type=email] {
    width: 45%;
}

#reservation form input::placeholder {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #fff;
}

#reservation form select {
    width: 30%;
    background: transparent;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #fff;
    border: 1px solid #222;
    padding: 15px;
    margin-right: 5px;
}

#reservation form textarea.comment {
    width: 93%;
    height: 170px;
    resize: none;
    outline: none;
    border: 1px solid #222;
    background: transparent;
    margin-top: 15px;
    caret-color: #fff;
    padding: 15px;
    color: #fff;
}

#reservation form textarea::placeholder {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #fff;
}

#reservation form .btn {
    background: url(../images/reservationIMG.png) no-repeat center;
    background-size: cover;
    width: 95%;
    border: 1px solid #222;
    margin-top: 15px;
    color: #ed5034;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    font-weight: 400;
    outline: 0;
}

/* =========================== 
 reservation part css end here 
============================== */

/* =========================== 
 conatctP_us part css start here 
============================== */

#conatct_us {
    background: url(../images/Contact_usBG.png) no-repeat center;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 50px;
    text-align: center;
}

#conatct_us h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    font-weight: 400;
    color: #fff;
}

#conatct_us .We’ll {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    width: 385px;
    position: relative;
    margin: 15px auto;
}

#conatct_us .We’ll::after {
    position: absolute;
    bottom: -25px;
    left: 170px;
    background: #fff;
    width: 50px;
    height: 3px;
    content: "";
}

#conatct_us .image {
    display: inline-block;
    margin-top: 60px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 145px;
}

#conatct_us .image img {
    position: absolute;
    top: -145px;
    left: -190px;
}

#conatct_us .image a span {
    position: relative;
    z-index: 2;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    font-weight: 400;
    color: #ed5034;
}

#conatct_us .conterUP {
    margin: auto;
    width: 580px;
    display: flex;
    justify-content: space-between;
}

#conatct_us .conterUP .item p {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    font-weight: 400;
    color: #fff;
}

#conatct_us .conterUP .item h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    margin: -30px 0;
}

/* =========================== 
 conatctP_us part css end here 
============================== */

/* =========================== 
 testimonial_part css start here 
============================== */

#testimonial_part {
    background: #050505;
    padding-top: 60px;
    padding-bottom: 100px;
}

#testimonial_part .title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

#testimonial_part .title h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    position: relative;
}

#testimonial_part .title h1::after {
    position: absolute;
    bottom: -20px;
    left: 100px;
    width: 50px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#testimonial_part .title h1::before {
    position: absolute;
    bottom: -20px;
    left: 170px;
    width: 50px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#testimonial_part .title span {
    position: relative;
    display: block;
}

#testimonial_part .title span::before {
    position: absolute;
    bottom: -20px;
    left: 155px;
    width: 10px;
    height: 3px;
    background: #ed5034;
    content: "";
}

#testimonial_part .testimonial {
    width: 770px;
    background: #0a0b0c;
    margin: auto 180px;
    display: flex;
    justify-content: space-between;
}

#testimonial_part .testimonial .img {
    width: 40%;
}

#testimonial_part .testimonial .img img {
    width: 85%;
    height: 100%;
}

#testimonial_part .testimonial .text {
    width: 60%;
    margin: auto 0;
    padding-right: 15px;
}

#testimonial_part .testimonial .text p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

#testimonial_part .testimonial .text h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

#testimonial_part .testimonial .text h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

#testimonial_part .testimonial .text .icons {
    margin-top: 10px;
}

#testimonial_part .testimonial .text .icons i {
    font-size: 20px;
    color: #ed5034;
}

#testimonial_part .slick-slider .prev {
    width: 50px;
    height: 50px;
    background: #ed5034;
    position: absolute;
    top: 40%;
    left: 150px;
    z-index: 2;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    transition: all linear .4s;
}

#testimonial_part .slick-slider .prev:hover {
    background: #fff;
    color: #ed5034;
}

#testimonial_part .slick-slider .next {
    width: 50px;
    height: 50px;
    background: #ed5034;
    position: absolute;
    top: 40%;
    right: 155px;
    z-index: 2;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: all liner .4s;
}

#testimonial_part .slick-slider .next:hover {
    background: #fff;
    color: #ed5034;
}

/* =========================== 
 testimonial_part css end here 
============================== */


/* =========================== 
  footer_part css start here 
============================== */
footer {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
}

footer p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}

footer .contact h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
}

footer .contact h1::after {
    position: absolute;
    bottom: -15px;
    left: 50px;
    background: #ed5034;
    width: 60px;
    height: 3px;
    content: "";

}

footer .open h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
}

footer .open h1::after {
    position: absolute;
    bottom: -15px;
    left: 50px;
    background: #ed5034;
    width: 60px;
    height: 3px;
    content: "";
}

footer .address h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
}

footer .address h1::after {
    position: absolute;
    bottom: -15px;
    left: 50px;
    background: #ed5034;
    width: 60px;
    height: 3px;
    content: "";
}

footer .icons {
    margin: 35px 0;
    position: relative;
}

footer .icons::after {
    position: absolute;
    top: 35px;
    left: -20px;
    width: 380px;
    background: #222;
    height: 1px;
    content: "";
}

footer .icons::before {
    position: absolute;
    top: 35px;
    right: -20px;
    width: 380px;
    background: #222;
    height: 1px;
    content: "";
}

footer .icons a {
    display: inline-block;
    color: #ed5034;
    margin: 0 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    transition: all linear .4s;
}

footer .icons a i {
    font-size: 20px;
    line-height: 70px;
}

footer .icons a:hover {
    color: #fff;
    background: #ed5034;
}
footer .last{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
/* =========================== 
   footer_part css end here 
============================== */